.emplogo {
    display: flex;
    color: olivedrab;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    width: 80px;
}
.h1 {
    font-family:'Times New Roman', Times, serif;
}

.logoimg {
    width: 50px;
    height: 50px;
}
.headcolor {
    background-color:cadetblue;
}
.body{
    align-items:center;
    background-color: gainsboro;
}
